{
    "url":  "https://your-storage-account.z6.web.core.windows.net/",
    "storageAccountName":  "your-storage-account-name",
    "resourceGroupName":  "your-resource-group-name",
    "subscription":  "your-subscription-id-guid"
}
